.blog__card__wrapper, .client__wrapper, .hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer, .blog__card__wrapper_card .read-more, .blog__card__wrapper_card, .blog__title-container, .blog, .subscribe__wrapper, .subscribe, .client__wrapper_client_card, .client, .welcome__title_container, .welcome, body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body {
  box-sizing: border-box;
  background-color: #FBFBFB;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .img_container {
  height: 78px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 0 3%;
}
header .img_container img {
  width: 300px;
  height: 68px;
}
@media screen and (max-width: 580px) {
  header .img_container {
    border-radius: 40px;
  }
}
header .btn-contact {
  height: 46px;
  border: none;
  background-color: #FF9100;
  color: #FBFBFB;
  border-radius: 10px;
  padding: 0 5%;
  margin-right: 40px;
  color: #FFF;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .btn-contact:hover {
  cursor: pointer;
}
@media screen and (max-width: 580px) {
  header .btn-contact {
    width: 70%;
    margin-right: 0;
  }
}
@media screen and (max-width: 580px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
}

.hero {
  width: 90%;
  position: relative;
}

.hero__wrapper {
  gap: 15%;
  margin: 10% 10% 10% 0;
}
@media screen and (max-width: 500px) {
  .hero__wrapper {
    flex-direction: column;
    margin: 10% 0 0 0;
  }
}
.hero__wrapper_titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__wrapper h2, .hero__wrapper p, .hero__wrapper h1 {
  color: #374B5C;
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__wrapper h1 {
  font-size: 56px;
}
.hero__wrapper p {
  font-family: Libre Baskerville;
  font-size: 20px;
  margin: 5% 0;
}
.hero__wrapper button {
  height: 46px;
  border: none;
  background-color: #FF9100;
  color: #FBFBFB;
  border-radius: 10px;
  padding: 0 5%;
  margin-right: 40px;
  color: #FFF;
  font-family: Libre Baskerville;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__wrapper button:hover {
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .hero__wrapper button {
    margin: 0;
  }
}
.hero__wrapper svg {
  position: absolute;
  left: -6%;
  bottom: -80px;
}
@media screen and (max-width: 1000px) {
  .hero__wrapper svg {
    display: none;
  }
}
.hero__wrapper_imgContainer {
  position: relative;
}
@media screen and (max-width: 500px) {
  .hero__wrapper_imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20%;
  }
}
.hero__wrapper_imgContainer .backImg, .hero__wrapper_imgContainer .topImg {
  width: 23vw;
  height: 23vw;
  background: url(./img/nick-morrison-FHnnjk1Yj7Y-unsplash.png), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px dashed #FF9100;
}
.hero__wrapper_imgContainer .topImg {
  background: url(./img/myriam-jessier-eveI7MOcSmw-unsplash.png), lightgray 50%;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  top: 10%;
  left: 50%;
}
@media screen and (max-width: 500px) {
  .hero__wrapper_imgContainer .topImg {
    position: inherit;
    left: 0;
  }
}

.welcome {
  width: 90%;
  margin-top: 30px;
}
.welcome__title_container {
  max-width: 90%;
  text-align: center;
  gap: 20px;
  margin-bottom: 30px;
}
.welcome__title_container h2, .welcome__title_container p, .welcome__title_container .hero__wrapper h1, .hero__wrapper .welcome__title_container h1 {
  color: #374B5C;
  font-family: Libre Baskerville;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.welcome__title_container p {
  font-size: 22px;
}
.welcome__card_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.welcome__card_wrapper__card, .welcome__card_wrapper__card_active {
  min-width: 200px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
  border: 2px dashed lightgrey;
  background-image: url(./img/LadyHat_orange.png);
  background-repeat: no-repeat;
  background-position-y: 20px;
  background-position-x: center;
  padding: 3%;
  flex-basis: 10%;
}
.welcome__card_wrapper__card:hover, .welcome__card_wrapper__card_active:hover {
  background: #FF9100;
  color: #FBFBFB;
  border: 2px solid #FF9100;
  background-image: url(./img/LadyHat.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 20px;
}
.welcome__card_wrapper__card_active {
  background: #FF9100;
  color: #FBFBFB;
  border: 2px solid #FF9100;
  background-image: url(./img/LadyHat.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 20px;
}
.welcome__card_wrapper__card h3, .welcome__card_wrapper__card_active h3 {
  font-family: Libre Baskerville;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.welcome__card_wrapper__card p, .welcome__card_wrapper__card_active p {
  margin-top: 20px;
  font-family: Libre Baskerville;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.client {
  width: 100%;
  margin: 10% 0;
}
.client__wrapper {
  width: 80%;
}
.client__wrapper .img-left_corner {
  margin-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .client__wrapper .img-left_corner {
    display: none;
  }
}
.client__wrapper_client_card {
  width: 50%;
  gap: 20px;
}
.client__wrapper_client_card p {
  color: #374B5C;
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.client__wrapper .img-right_corner {
  margin-top: 300px;
}
@media screen and (max-width: 600px) {
  .client__wrapper .img-right_corner {
    display: none;
  }
}

.subscribe {
  position: relative;
  width: 100%;
  text-align: center;
}
.subscribe .top-books {
  max-width: 300px;
}
.subscribe__wrapper {
  width: 50%;
  gap: 50px;
}
.subscribe__wrapper h2, .subscribe__wrapper .hero__wrapper h1, .hero__wrapper .subscribe__wrapper h1, .subscribe__wrapper .hero__wrapper p, .hero__wrapper .subscribe__wrapper p, .subscribe__wrapper .welcome__title_container p, .welcome__title_container .subscribe__wrapper p {
  color: #374B5C;
  font-family: Libre Baskerville;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 60px;
}
.subscribe__wrapper p {
  color: #374B5C;
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe__wrapper .email-subscribe_container {
  border-radius: 50px;
  background: #F6F5F1;
}
@media screen and (max-width: 645px) {
  .subscribe__wrapper .email-subscribe_container {
    background: none;
  }
}
.subscribe__wrapper input {
  height: 46px;
  border: none;
  background: #F6F5F1;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-inline-start: 30px;
  outline: none;
}
@media screen and (max-width: 645px) {
  .subscribe__wrapper input {
    border-radius: 50px;
    margin-bottom: 10px;
  }
}
.subscribe__wrapper button {
  height: 46px;
  border: none;
  background-color: #FF9100;
  color: #FBFBFB;
  border-radius: 50px;
  padding: 0 30px;
  cursor: pointer;
}
.subscribe .right-book {
  position: absolute;
  right: 0;
  bottom: 20px;
}
@media screen and (max-width: 450px) {
  .subscribe .right-book {
    display: none;
  }
}

.blog {
  text-align: center;
  margin-top: 10%;
}
.blog .titleImg {
  width: 83px;
  height: 54px;
}
.blog__title-container {
  gap: 20px;
}
.blog__title-container h2, .blog__title-container .hero__wrapper h1, .hero__wrapper .blog__title-container h1, .blog__title-container .hero__wrapper p, .hero__wrapper .blog__title-container p, .blog__title-container .welcome__title_container p, .welcome__title_container .blog__title-container p {
  color: #374B5C;
  font-family: Libre Baskerville;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog__title-container p {
  width: 55%;
  color: #374B5C;
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}
.blog__card__wrapper {
  flex-wrap: wrap;
  gap: 30px;
}
.blog__card__wrapper_card {
  gap: 20px;
  width: -moz-min-content;
  width: min-content;
  height: 360px;
  box-shadow: 0 0 10px rgba(169, 169, 169, 0.5);
  border-radius: 20px;
}
.blog__card__wrapper_card:hover {
  background: #FF9100;
  color: #FBFBFB;
}
.blog__card__wrapper_card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.blog__card__wrapper_card h3 {
  color: #be8945;
  font-family: Libre Baskerville;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog__card__wrapper_card:hover h3 {
  color: #FBFBFB;
}
.blog__card__wrapper_card p {
  color: #374B5C;
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog__card__wrapper_card:hover p {
  color: #FBFBFB;
}
.blog__card__wrapper_card .read-more {
  gap: 10px;
  cursor: pointer;
}
.blog__card__wrapper_card .read-more::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00DBD0;
  border-radius: 20px;
}
.blog__card__wrapper_card .read-more a {
  color: #374B5C;
  font-family: Libre Baskerville;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: #EE8700;
  margin-top: 30px;
}
footer h4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer h4::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00DBD0;
  border-radius: 20px;
}

.footer_wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #FBFBFB;
  padding: 5% 0;
}
.footer_wrapper .logo_copyright {
  width: 30%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_wrapper .logo_copyright img {
  width: 150px;
}
.footer_wrapper .nav_wrapper {
  width: 30%;
  min-width: 30%;
  display: flex;
  justify-content: flex-end;
}
.footer_wrapper nav {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_wrapper nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
}
.footer_wrapper nav ul a {
  text-decoration: none;
  color: #FBFBFB;
}
.footer_wrapper .social {
  min-width: 30%;
  display: flex;
  justify-content: flex-end;
}
.footer_wrapper .social__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 580px) {
  .footer_wrapper .social__wrapper {
    margin-top: 30px;
  }
}
.footer_wrapper .social .social_links_container {
  display: flex;
  gap: 15px;
}/*# sourceMappingURL=style.css.map */